<link href="../console/css/page.css" type="text/css" rel="stylesheet">

<div class="console-containt">

    <div>
        <div class="console-head console-clear">
            <div class="console-clear-main"></div>
            <div class="console-hide"></div>
            <select class="console-log-filter">
                <option value="default">default</option>
                <option value="info">info</option>
                <option value="warn">warn</option>
                <option value="error">error</option>
            </select>
        </div>
        <div class="console-body">
            <div class="console-main"></div>
        </div>
    </div>

    <div class="console-right-line"></div>
    <div class="console-bottom-line"></div>

</div>

<div class="console-minimize"></div>